<form action="/users" method="post" accept-charset="UTF-8">
  <label for="username">Username:</label>
  <input type="text" name="user[username]" id="username">
  <label for="email">E-mail:</label>
  <input type="email" name="user[email]" id="email">
  <label for="pwd">Password:</label>
  <input type="password" name="user[password]" id="pwd">
  <input type="submit" value="Submit">
</form>